.buildlog
packages
*.idea/
*.log
/config.dart
/test.dart
*.js.deps
*.js.map
*.js_
*index.dart.js
/test.html
/log/*
*.settings/
test/packages
web/assets/packages
web/packages
build.sh
/test/*.jpg
/data/sessions/*
/test.xml
/data/backups/*